.main-tagbody {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
}
.main-page {
	background-color: white;
	width: 1470px;
	padding: 0px 50px;
	height: 100%;
}

/* 메인 헤더 */
.main-header {
	height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-header img {
	position: absolute;
	top: 15px;
	left: 8vw;
}
.mainCalHeader {
	display: flex;
	cursor: pointer;
	align-items: center;
}
.main-year {
	height: 40px;
}
/* 메인 지역/날씨 */
.main-weather {
	display: flex;
	align-items: center;
	position: absolute;
	top: 30px;
	left: 65vw;
}
.main-weather span {
	font-weight: bold;
}
.main-weather > i {
	margin-right: 10px;
	font-size: 20px;
}
.main-weather-loc,
.main-weather-tmp {
	display: flex;
	align-items: center;
	margin-right: 10px;
}
.main-weather-loc {
	font-size: 15px;
}
.main-weather-loc > div {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-weather-tmp {
	font-size: 18px;
}
.main-weather-loc i,
.main-weather-tmp i {
	margin-right: 2px;
}
.main-weather-tmp span {
	padding-bottom: 2px;
}

/* 메인 바디 */
.main-body {
	display: flex;
	width: 100%;
}
/* 캘린더 */
#calender {
	height: 650px;
	width: 1150px;
	table-layout: fixed;
	box-sizing: border-box;
}
td {
	width: 170px;
	position: relative;
	cursor: pointer;
	padding-top: 30px !important;
	
}
.date-row {
	height: 60px;
}
td:hover {
	--bs-table-accent-bg: var(--bs-table-hover-bg);
		color: var(--bs-table-hover-color);
}
.mainDateNumber {
	position: absolute;
	top: 2px;
	left: 10px;
	font-size: 18px;
}
/* 카테고리 */
.category {
	width: 250px;
	display: flex;
	flex-direction: column;
	margin-top: 60px;
	padding-left: 80px;
}
.category label {
	margin: 10px;
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.category input {
	margin-right: 30px;
	cursor: pointer;
}
#checkCompany {
	border-bottom: 2px solid #20c997;
}
#checkFamily {
	border-bottom: 2px solid #ff7518;
}
#checkFriend {
	border-bottom: 2px solid #9954bb;
}
#checkOther {
	border-bottom: 2px solid #e83e8c;
}
.company, 
.family, 
.friend, 
.other {
	height: 20px;
	border-radius: 10px;
}
.company {
	background-color: #20c997;
}
.family {
	background-color: #ff7518;
}
.friend {
	background-color: #9954bb;
}
.other {
	background-color: #e83e8c;
}

/* 셀프 모달 */
.self-modal {
	z-index: -1;
	position: absolute;
	top: 50px;
	left: 700px;
	border-radius: 20px;
}
.self-modal-header {
	position: relative;
	height: 35px;
}
.self-modal-close-btn {
	position: absolute;
	top: 5px;
	right: 10px;
}
.self-modal-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#dateInput {
	margin-bottom: 10px;
}
.changePageBtn {
	border-radius: 5px;
	width: 50px;
}
