/* 메뉴 */
.menu-btn {
	color: var(--bs-blue);
	position: absolute;
	top: 20px;
	right: 35px;
	font-size: 25px;
	z-index: 2;
	cursor: pointer;
}
.menu-btn--white {
	color: var(--bs-white);
	position: absolute;
	top: 20px;
	right: 35px;
	font-size: 25px;
	z-index: 2;
	cursor: pointer;
}
.menu-bar {
	width: 280px;
	height: 100vh;
	position: absolute;
	right: -500px;
	bottom: 0px;
	z-index: 1;
}
.menu-bar ul {
	list-style: none;
	color: white;
	margin-top: 200px;
}
.menu-bar li {
	margin-bottom: 20px;
	cursor: pointer;
}
.menu-bar i {
	margin-right: 10px;
}